.footer {
    background-color: rgb(200, 200, 200);
    padding: 40px 0;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__copy {

    }

    &__policy {

    }
}