// Цвета
$c-white: #ffffff;
$c-black: #222222;
$c-accent: #039BE5;

// Переходы
$t-base: 0.2s ease-in-out;

// Шрифты
$f-roboto: 'Roboto';

// Размеры медиазапросов
$laptop: 1279px;
$tablet: 999px;
$phablet: 767px;
$mobile: 479px;

// Ширина контента
$w-container: 1260px;

// Внутренний отступ контейнера
$p-container: 20px;