// Цвета
$c-white: #ffffff;
$c-black: #222222;

// Переходы
$t-base: 0.2s ease-in-out;

// Медиавыражения
$laptop: 1279px;
$tablet: 1023px;
$phablet: 767px;
$mobile: 479px;

// Ширина контента
$w-container: 1280px;