.accordion {
    &__header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        &_active {
            .accordion__indicator {
                background-color: green;
            }
        }
    }

    &__indicator {
        width: 30px;
        height: 30px;
        background-color: red;
    }
}