<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__copy">© Подвал сайта</div>
      <a href="#" class="footer__polisy">Политика конфиденциальности</a>
    </div>
  </div>
</footer>

<!-- Подключение jquery.min.js -->
<script src="./js/jquery.min.js"></script>

<!-- Подключение jquery-ui.min.js -->
<!-- <script src="./js/jquery-ui.min.js"></script> -->

<!-- Подключение swiper.min.js -->
<!-- <script src="./js/swiper.min.js"></script> -->

<!-- Подключение fancybox.min.js -->
<!-- <script src="./js/fancybox.min.js"></script> -->

<!-- Подключение choices.min.js -->
<!-- <script src="./js/choices.min.js"></script> -->

<!-- Подключение popper.min.js -->
<!-- <script src="./js/popper.min.js"></script> -->

<!-- Подключение tippy.min.js (зависит от popper.min.js) -->
<!-- <script src="./js/tippy.min.js"></script> -->

<!-- Подключение inputmask.min.js -->
<!-- <script src="./js/inputmask.min.js"></script> -->

<!-- Подключение main.js -->
<script async src="./js/main.js"></script>