<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>@@title</title>

	<!-- Основная информация о сайте -->
	<meta name="description" content="Описание">
    <meta name="keywords" content="Ключевики">
    <meta name="author" content="Автор">
    <meta name="image" content="./img/logo.png">

	<!-- Используется при вставке ссылки на страницу в соц. сетях и мессенджерах -->
	<meta property="og:type" content="website">
    <meta property="og:title" content="Название">
    <meta property="og:description" content="Описание">
    <meta property="og:image" content="./img/logo.png">
    <meta property="og:url" content="https://example.com">

	<!-- Каноничный адрес сайта (без параметров) -->
	<link rel="canonical" href="https://example.com">

	<!-- Предзагрузка (например предзагрузка Google Fonts при подключении шрифтов) -->
	<!-- <link rel="preconnect" href="//fonts.gstatic.com"> -->

	<!-- Иконка сайта -->
	<link rel="icon" href="./favicon.ico">
	<link rel="icon" href="./img/favicons/icon.svg" type="image/svg+xml">
	<link rel="apple-touch-icon" href="./img/favicons/apple.png">
	<link rel="manifest" href="./manifest.webmanifest">

	<!-- Цвета пользовательского интерфейса -->
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#eeeeee">
	<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#222222">

	<!-- Используется при добавлении сайта на рабочий стол IOS устройства -->
	<meta name="apple-mobile-web-app-title" content="Название">
    <meta name="apple-mobile-web-app-capable" content="yes">

	<!-- Отключает подцветку номеров и адресов в Safari -->
	<meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">

	<!-- Подключение swiper.min.css -->
	<!-- <link rel="stylesheet" href="css/swiper.min.css"> -->

	<!-- Подключение fancybox.min.css -->
	<!-- <link rel="stylesheet" href="css/fancybox.min.css"> -->

	<!-- Подключение choices.min.css -->
	<!-- <link rel="stylesheet" href="css/choices.min.css"> -->

	<!-- Подключение main.css -->
	<link rel="stylesheet" href="css/main.css">
</head>